<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.BAICUOIKI">

        <!-- Màn hình Đăng Nhập - CHẠY ĐẦU TIÊN -->
        <activity
            android:name="com.example.dangnhap.activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".OrderActivity" />
        <activity android:name=".OrderDetailActivity" />
        <activity android:name=".CheckoutActivity" android:exported="false" />

        <!-- Activity từ dự án Khuyến mại -->
        <activity
            android:name="com.example.qlkhuyenmai.cskh.CSKHActivity"
            android:exported="false" />
        <activity
            android:name="com.example.qlkhuyenmai.KhuyenMaiMainActivity"
            android:exported="false" />

        <!-- Module Đăng Nhập -->
        <activity
            android:name="com.example.dangnhap.activities.AdminActivity"
            android:exported="false" />
        <activity
            android:name="com.example.dangnhap.activities.NhanVienActivity"
            android:exported="false" />
        <!-- Module Kho & Kế Toán -->
        <activity
            android:name="com.example.kho_ketoan.activities.KhoKeToanMainActivity"
            android:exported="false" />
        <activity
            android:name="com.example.kho_ketoan.activities.PhieuKhoActivity"
            android:exported="false" />
        <activity
            android:name="com.example.kho_ketoan.activities.AddEditPhieuKhoActivity"
            android:exported="false" />
        <activity
            android:name="com.example.kho_ketoan.activities.ChiTietPhieuKhoActivity"
            android:exported="false" />
        <activity
            android:name="com.example.kho_ketoan.activities.BangLuongActivity"
            android:exported="false" />
        <activity
            android:name="com.example.kho_ketoan.activities.ThongKeActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SupplierActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerActivity"
            android:exported="false" />
        <activity
            android:name=".CartActivity"
            android:exported="true" />
        <activity
            android:name=".ProductActivity"
            android:exported="false" />
        <activity
            android:name=".LichLamActivity"
            android:exported="false" />

        <activity
            android:name=".ProductDetailActivity"
            android:exported="false" />

        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

    </application>

</manifest>
